	#myMusic1 {
	  display: block;
	  position: relative;
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 100%;
	  max-width: 500px;
	  height: 100vh;
	  margin: auto;
	  border-radius: 0 0 1vw 1vw;
	}

	.disco {
	  text-align: left;
	  font-size: 5vw;
	  color: white;
	  margin-top: 5vw;
	}

	#main {
	  display: flex;
	  flex-direction: row;
	  overflow-x: scroll;
	  overflow-y: hidden;
	}

	#main p {
	  text-align: center;
	  font-size: 0vw;
	  color: white;
	}

	#main img {
	  padding: 2vw;
	  height: 50vh;
	}

	figure {
	  margin: 4vw;
	  display: inline-flex;
	  flex-wrap: wrap;
	}

	#imageGallery {
	  display: flex;
	  padding: none;
	  margin: none;
	}

	figcaption {
	  padding: none;
	  background-color: black;
	  color: white;
	  font-style: italic;
	  width: 100%;
	  font-size: 16px;
	  line-height: 22px;
	  height: 0vw;
	  text-align: left;
	}

	#imageGallery img {
	  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	  padding: 0vw;
	  width: 40vw;
	  height: 40vw;
	  object-fit: cover;
	}

	/* @media screen and (max-device-width:480px){body{-webkit-text-size-adjust:none}} */
	*/ -webkit-background-size: 2650px 1440px;

	.photoBoi {
	  max-width: 500px;
	}

	.titleBoi {
	  background-color: rgba(0, 0, 0, .5);
	  color: gray;
	  font-size: 10vw;
	  padding-left: 5vw;
	  padding-right: 5vw;
	  text-align: center;
	}

	.titleReal {
	  background-color: rgba(0, 0, 0);
	  color: gray;
	  font-size: 10vw;
	  padding-left: 5vw;
	  padding-right: 5vw;
	  text-align: center;
	}

	#myNavBtns {
	  position: fixed;
	  top: 0;
	  width: 100vw;
	  display: inline-flex;
	  z-index: 99;
	  width: 100%;
	  transition: top 0.3s;
	  /* max-width: 1000px; */
	  /* Transition effect when sliding down (and up) */
	}

	#myNav1Btns {
	  position: fixed;
	  top: 0vw;
	  width: 100%;
	  display: inline-flex;
	  z-index: 99;
	  width: 30%;
	  transition: left 0.3s;
	  /* Transition effect when sliding down (and up) */
	}

	#myNav2Btns {
	  position: fixed;
	  bottom: 10vh;
	  width: 100%;
	  display: inline-flex;
	  z-index: 99;
	  width: 30%;
	  transition: right 0.3s;
	  /* Transition effect when sliding down (and up) */
	}

	#myNav3Btns {
	  position: fixed;
	  top: 8px;
	  width: 100%;
	  display: inline-flex;
	  z-index: 99;
	  width: 30%;
	  transition: left 0.3s;
	  /* Transition effect when sliding down (and up) */
	}

	#myNavBtns button {
	  flex: 1;
	  padding: 1.5vh;
	  text-align: center;
	  background-color: rgb(0, 0, 0, .7);
	  z-index: 99;
	  color: white;
	  font-family: cyber;
	  font-size: 3vh;
	  border-style: hidden;
	  border-bottom: 3px solid transparent;
	}

	.overlay {
	  position: fixed;
	  top: 0;
	  left: 0;
	  background-color: rgb(0, 0, 0);
	  background-color: rgba(0, 0, 0, 0.9);
	  overflow-x: hidden;
	  /* transition: 0.5s; */
	}

	.overlay-content {
	  position: relative;
	  top: 0%;
	  height: 100vh;
	  width: 100vw;
	  text-align: center;
	  margin-top: 0;
	}

	.overlay a {
	  padding: 8px;
	  text-decoration: none;
	  font-size: 36px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	.overlay a:hover,
	.overlay a:focus {
	  color: #f1f1f1;
	}

	.closebtn {
	  margin-top: 0vw;
	  background-color: transparent;
	  border: none;
	  color: gray;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  font-size: 60px;
	}

	.closebtn1 {
	  background-color: transparent;
	  border: none;
	  color: gray;
	  position: absolute;
	  bottom: 0;
	  right: 50vw;
	  left: 50vw;
	  font-size: 60px;
	}

	#myNav1Btns button {
	  flex: 1;
	  top: 50vw;
	  padding: 2vw;
	  text-align: center;
	  background-color: rgb(0, 0, 0, .7);
	  z-index: 99;
	  color: white;
	  font-family: cyber;
	  font-size: 5vw;
	  border-style: hidden;
	  border-bottom: 3px solid transparent;
	}

	#myNav2Btns button {
	  flex: 1;
	  top: 50vw;
	  padding: 2vw;
	  text-align: center;
	  background-color: rgb(0, 0, 0, .7);
	  z-index: 99;
	  color: white;
	  font-family: cyber;
	  font-size: 5vw;
	  border-style: hidden;
	  border-bottom: 3px solid transparent;
	}

	#myNav3Btns button {
	  flex: 1;
	  top: 50vw;
	  padding: 2vw;
	  text-align: center;
	  background-color: rgb(0, 0, 0, .7);
	  z-index: 99;
	  color: white;
	  font-family: cyber;
	  font-size: 5vw;
	  border-style: hidden;
	  border-bottom: 3px solid transparent;
	}

	#myNavBtns button:focus {
	  outline: 0vw solid white;
	  border-bottom: 3px solid magenta;
	}

	#myNavBtns button:focus {
	  border-bottom: 3px solid magenta;
	  outline: 0vw solid white;
	}

	.photoReel {
	  background-color: black;
	  color: gray;
	  margin: 0;
	  font-size: 8vw;
	  line-height: 10vw;
	  text-align: center;
	}

	.bodyBoi {
	  background-color: black;
	  color: white;
	  line-height: 8vw;
	  font-size: 5vw;
	  padding: 5vw;
	  text-align: left;
	}

	.bodyBoi2 {
	  background-color: black;
	  line-height: 10vw;
	  color: white;
	  font-size: 8vw;
	  padding: 0vw;
	  text-align: left;
	}

	@font-face {
	  font-family: Cyber;
	  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
	  font-display: swap;
	}

	.glow-on-hoverMAIN {
	  width: 25vw;
	  display: inline-flex;
	  box-sizing: border-box;
	  box-shadow: 1vw 1vw 1vw black;
	  height: 10vw;
	  font-size: 5vw;
	  background-color: rgb(0, 0, 0, .7);
	  color: white;
	  border: 1vw;
	  text-align: center;
	  cursor: pointer;
	  z-index: 99;
	}

	.glow-on-hoverMAIN:focus {
	  outline: 0vw solid white;
	  background-color: rgba(120, 120, 120, .5);
	}

	.glow-on-hoverMAIN:active {
	  outline: 0vw solid white;
	}

	@font-face {
	  font-family: fongBoi;
	  src: url(fonts/hacked.ttf);
	}

	@font-face {
	  font-family: fontBoi1;
	  src: url(fonts/modeNine.ttf);
	}

	.bg {
	  background: transparent linear-gradient(to bottom, transparent 90%, #080808 100%) repeat scroll 0 0;
	  width: 100vw;
	  height: 100vh;
	}

	.bg1 {
	  background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
	  width: 100vw;
	  height: 100vh;
	}

	body {
	  margin: auto;
	  background-color: #080808;
	  background-repeat: no-repeat;
	  background-size: contain;
	  overflow-x: hidden;
	  background-attachment: fixed;
	  font-family: 'Cyber', sans-serif;
	}

	h1 {
	  font-size: 5vw;
	  padding-right: 1vw;
	  color: #fff;
	  text-align: right;
	}

	h3 {
	  text-align: right;
	  padding-right: 1vw;
	  font-size: 5vw;
	  font-weight: 500;
	  color: #ccc;
	}

	.container {
	  width: 100%;
	  height: 100%;
	  align-content: center;
	  margin: 0;
	  overflow-x: hidden;
	  background-repeat: repeat;
	  background-size: cover;
	}

	.backgroundThingy {
	  background-color: black;
	}

	.music-player {
	  display: block;
	  position: relative;
	  background-image: url("images/city/final.gif");
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 100%;
	  max-width: 500px;
	  height: 100vh;
	  margin: auto;
	  border-radius: 0 0 1vw 1vw;
	}

	.cover {
	  width: 100%;
	  height: 66%;
	}

	img {
	  padding-top: 0vh;
	  padding-bottom: 10vh;
	}

	.cover img {
	  display: block;
	  position: relative;
	  top: 8%;
	  left: 10%;
	  width: 80%;
	  text-align: center;
	}

	.titre {
	  width: 100%;
	}

	.lecteur {
	  width: 1vw;
	  display: block;
	  height: auto;
	  position: fixed;
	  bottom: -50vh;
	  z-index: 100;
	  transition: bottom .3s;
	}

	.lecteur audio {
	  width: 100vw;
	  height: 50px;
	  text-align: center;
	}

	audio::-webkit-media-controls-mute-button {
	  display: none !important;
	}

	audio::-webkit-media-controls-volume-slider {
	  display: none !important;
	}
